{% extends 'cats/base.html' %}

{% block content %}
<h1 class="display-1 pt-4 pb-4">{{ title }}</h1>
<p>This is a site about cats. Site was made by <a href="https://www.linkedin.com/in/yevhen-borysenko-3788a4238/">me</a></p>
<p>The main idea was to gain knowledge in django and bootstrap. All the information about cats was taken from <a href="https://www.petfinder.com/">this</a> site. Thanks a lot.</p>
<p>For main guide was taken <a href="https://www.youtube.com/playlist?list=PLA0M1Bcd0w8xO_39zZll2u1lz_Q-Mwn1F">this</a> course,
    <a href="https://docs.djangoproject.com/en/4.1/">Django</a> and <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">Bootstrap</a> documentations.</p>
{% endblock %}