{% extends 'cats/base.html' %}

{% load cats_tags %}
{% block content %}
<h1 class="display-1 pt-4">{{ title }}</h1>
{% for p in posts %}

<div class="card mt-4 border-white">

    <div class="card-header bg-white">
        <div class="row">
            <!--            title, cat, date-->
            <div class="col-md-9">
                <h2 class="fs-1">{{ p.title }}</h2>
                <p class="text-secondary">{{ p.category }}. Date: {{ p.time_update| date:"d-m-Y H:i" }}</p>
            </div>
            <!--            end title, cat, date-->

            <!--            photo-->
            <div class="col-md-3">
                {% if p.photo %}
                <div class="img_wrap float-end">
                    <img src="{{ p.photo.url }}" alt="{{ p.title }}"
                         class="figure-img img-fluid rounded">
                </div>
                {% endif %}
                <!--                end photo-->
            </div>
        </div>
    </div>
    <div class="card-body m-4"><p class="card-text">{{ p.content | truncatewords:50}}</p></div>

</div>

<!--button read more-->
<div class="d-grid d-md-flex justify-content-md-end pb-4">
    <a class="btn btn-outline-dark" href="{{ p.get_absolute_url }}">Read more &#8593</a>
</div>

<!--end button read more-->

{% endfor %}

{% endblock %}

